<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>English</string>
        <key>CFBundleExecutable</key>
        <string>launcher</string>
        <key>CFBundleIconFile</key>
        <string>MARS.icns</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleShortVersionString</key>
        <string>4.5</string>
        <key>CFBundleSignature</key>
        <string>xmmd</string>
        <key>CFBundleVersion</key>
        <string>4.5</string>
        <key>NSAppleScriptEnabled</key>
        <string>NO</string>
        <key>NSHumanReadableCopyright</key>
        <string>© 2003-2013, Pete Sanderson and Kenneth Vollmar</string>
        <key>NSHighResolutionCapable</key>
        <true/>
    </dict>
</plist>
